div.scrollmenu {
    background-color: #0A0A0A;
    overflow: auto;
  
}

div.scrollmenu a {
    display: inline-block;
    color: #F5ECEC;
    text-align: center;
    padding: 14px;

    
}

div.scrollmenu a:hover {
    background-color: #1B1A1A;
}

button{
    color: #F5E5E5;
    background-color: #000000;
}
body{

    margin: -5px 0px;
}
